<h1>New Review</h1>

<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>

  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<hr>
<%= link_to restaurants_path do %>
  <i class="fa fa-history"></i> Back to all restaurants
<% end %>
